{% extends 'main.twig' %}

{% block active %}
  <li><a href="/">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="events">Events</a></li>
  <li class="active"><a href="news">News</a></li>
  <li><a href="projects">Projects</a></li>
  <li><a href="contact">Contact</a></li>
  <li class="has-form">
    <input id="event-search" type="text" placeholder="Search"></li>
{% endblock active %}
{% block content %}
<h1>News goes here!</h1>
{% endblock content %}